Source: libndp
Priority: optional
Maintainer: Andrew Ayer <agwa@andrewayer.name>
Build-Depends: debhelper (>= 9), make (>= 3.81-5), libc6-dev (>= 2.7-18), gcc (>= 4:4.3.2-2), coreutils (>= 6.10-6)
Standards-Version: 3.9.4
Section: libs
Homepage: http://libndp.org

Package: libndp-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: libndp0 (= ${binary:Version}), ${misc:Depends}
Description: Library for Neighbor Discovery Protocol (debug symbols)
 libndp is a library the IPv6 Neighbor Discovery Protocol (NDP).  It
 contains functions for building and parsing NDP messages, and provides
 a high level interface for sending and receiving NDP messages on a
 network interface.
 .
 This package provides debug symbols.

Package: libndp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libndp0 (= ${binary:Version}), ${misc:Depends}
Description: Library for Neighbor Discovery Protocol (development files)
 libndp is a library the IPv6 Neighbor Discovery Protocol (NDP).  It
 contains functions for building and parsing NDP messages, and provides
 a high level interface for sending and receiving NDP messages on a
 network interface.
 .
 This package contains the development files.

Package: libndp-tools
Section: utils
Architecture: any
Depends: libndp0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Library for Neighbor Discovery Protocol (tools)
 libndp is a library the IPv6 Neighbor Discovery Protocol (NDP).  It
 contains functions for building and parsing NDP messages, and provides
 a high level interface for sending and receiving NDP messages on a
 network interface.
 .
 This package contains a tool named ndptool for sending and receiving
 NDP messages.

Package: libndp0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for Neighbor Discovery Protocol
 libndp is a library the IPv6 Neighbor Discovery Protocol (NDP).  It
 contains functions for building and parsing NDP messages, and provides
 a high level interface for sending and receiving NDP messages on a
 network interface.
